<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="cor.css">
</head>
<body>
<h1>Jose Djalma Da Cunha Junior<br>Victor Cobo</h1>
<canvas width="1350" height="600" style="border: solid">
    <script type="text/javascript" src="go.js"></script>
</canvas>
</body>
</html>